<div class="py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <span class="anchor" id="formLogin"></span>

            <!-- form card -->
            <div class="card-rounded-0">
                <div style="background-color: grey;" class="card-header">
                    <h3 style="color: hotpink;" class="mb-0">MCQ Hub</h3>
                </div>
                <div style="background-color: pink;" class="card-body">
                    <p>
                        This MCQHub is specifically designed for school students, to do their self-evaluation and analyze the progress.
                        Teachers or parents can add questions into this MCQHub, edit or even delete if needed. The students can take the test and see ther own progress. 
                    </p>
                </div>
                <!-- /form card -->
            </div>
        </div>
    </div>
</div>