<div class="py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <span class="anchor" id="formLogin"></span>

            <!-- form card -->
            <div class="card-rounded-0">
                <div style="background-color: grey;" class="card-header">
                    <h3 style="color: hotpink;" class="mb-0">About Us</h3>
                </div>
                <div style="background-color: pink;" class="card-body">
                    <p>
                        Address:
                        
                        No. 20,
                        ABC building,
                        Qwerty street,
                        Kottayam, Kerala
                    </p>
                </div>
                <div style="background-color: pink;" class="card-body">
                    <p>
                        Contact no.:

                        xxxx-xxx-xxx
                    </p>
                </div>
                <!-- /form card -->
            </div>
        </div>
    </div>
</div>